ul{
    list-style-type: none;
    padding: 0;
}
ul li{
    display: inline-block;
}
.bottom{
    bottom: 0;
}
.right{
    right: 0;
}
.left{
    left: 0;
}
.top{
    top:0;
}
section.title .title-screen{
    background-color: #EEECEC;
}
section.title .title-screen .nav .right ul{
    height: 80%;
}
section.title .title-screen .menu-bottom{
    height: 60px;
}
section.popular{
    padding-top: 128px !important;
    padding-bottom: 64px !important;
    background-color: #FAFAFA;
}
section.popular .heading{
    width: 250px;
}
section.popular .heading img{
    width: 90%;
}
section.popular .list{
    width: calc(100% - 300px);
}
section.popular .shoe-card{
    height: 600px;
    width: 400px;
    background-repeat: no-repeat;
    background-position: left;
    background-size: 320px 600px;

}
section.popular .shoe-card .title{
    color: #051026;
    font-size: 36px;
    display: block;
}
section.popular .shoe-card .subtitle{
    color: #051026;
    font-size: 16px;
}
section.popular .shoe-card .desc{
    color: #959595;
    font-size: 16px;
}
section.popular .shoe-card .banner ul{
    width: 110px;
    background-color: #F5F5F5;
    border-radius: 0 0 10px 10px;
}
section.popular .shoe-card .banner.dark ul{
    background-color: #051026;
    color: white;
}
section.popular .shoe-card .banner ul li{
    text-align: center;
    display: block;
    width: 100%;
}
section.popular .shoe-card .banner ul li:nth-child(2){
    border: 1px solid rgba(149,149,149,.16);
    border-width: 1px 0 1px 0;
}
.custom-scrollbar::-webkit-scrollbar {width:10px;height:10px;}
.custom-scrollbar::-webkit-scrollbar-button {display: none}
.custom-scrollbar::-webkit-scrollbar-track {background-color:rgba(245,245,245,1);}
.custom-scrollbar::-webkit-scrollbar-track-piece {background-color:rgba(245,245,245,1);}
.custom-scrollbar::-webkit-scrollbar-thumb {background-color:rgba(3,10,23,1); border-radius:5px; max-width: 50px;max-height: 50px;}
.custom-scrollbar::-webkit-scrollbar-corner {background-color:rgba(238,238,238,1);}

section.news{
    background-color: #030A17;
}
section.news .grid-container .spacer{
    padding-bottom: 50%;
}
section.news .grid-container .news-grid{
    position: absolute;
    top:0;
    left:0;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(2, 50%);
    grid-auto-rows: minmax(100px, auto);
}
section.news .news-grid div{
    padding:.5vw;
}
section.news .news-grid div:nth-child(1){
    grid-column: 1/3;
    grid-row: 1 ;
}

section.news .news-grid div:nth-child(3){
    grid-column: 4;
    grid-row: 1/3;
}
section.news .news-grid div div{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    border-radius: 16px;
    position: relative;
}
section.news .news-grid div.text div{
    font-size: 2.4vw;
    color:white;
}
section.news .news-grid div.ban div{
    overflow: visible;
}
section.news .news-grid div.ban div img.shoe{
    height: 117%;
    position: absolute;
    top: -10%;
    left: -25%
}
section.news .news-grid div.ban div img.born, section.news .news-grid div.ban div img.brn{
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    left:0;
}
section.news .news-grid div.ban div img.to-boost{
    width: 25%;
    position: absolute;
    top:45%;
    right:5%;
}
section.news .news-grid div.ban div img.button{
    width: 20%;
    position: absolute;
    top:37%;
    left:20%;
}
section.news .news-grid div.new div div.text{
    font-size: 1vw;
    color:white;
    font-weight: bold;
    display: block;
    width: 100%;
    height: 30%;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 0;
}
section.news .news-grid div.new div{
    background-size: 100%;
    background-repeat: no-repeat;
}
section.news .news-grid div.img div div.text{
    display: block;
    position: absolute;
    bottom:5%;
    left:0;
    width: 15vw;
    height: 4vw;
    border-radius: 0 8px 8px 0;
}
section.news .news-grid div.img div div.text div.blur{
    display: block;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    border-radius: 0 8px 8px 0;
    background-color: rgba(0,0,0,.35);
    backdrop-filter: blur(4px);
}
section.news .news-grid div.img div div.text div.content{
    position: relative;
    font-size: .9vw;
    color:white;
    font-weight: bold;
    margin-top: -.3vw;
}